mat-form-field{
    width: 100%;
}
mat-dialog-content{
    height: 100%;
}

.row{
display: flex;
}

.column{
    flex: 50%;
    margin: 0px 5px;
}

.column1{
    flex: 50%;
    margin: 0px 5px;
}

button{
    width: 100%;
}