<mat-toolbar color="primary">
    <span>Veterinaria XYZ</span>

    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Pacientes</button>
    <button mat-button routerLink="/dashboard/usuarios">Clientes</button>
    <span class="example-spacer"></span>
    <button routerLink="/login" mat-icon-button class="example-icon logout-icon" aria-label="Example icon-button with heart icon" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
